@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #E4EAFA;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-top: 60px;
    align-content: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.main-link {
    background-color: inherit;
    float: left;
    padding: 10px 30px;
    font-size: 1.5em;
}

.main-link > a {
    text-decoration: none;
}

.account-link {
    background-color: inherit;
    float: right;
    padding: 20px;
    margin: 5px 30px;
    font-size: 1.5em;
    background-color: gainsboro;
    border-radius: 100%;
}

.create-form-box {
    padding: 100px;
    border-radius: 100%;
    background-color: white;
    background-image: url("/img/plus-bg.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.box {
    margin: auto;
    max-width: fit-content;
    text-align: center;
    padding: 50px 0px;
}

.box > a {
    text-decoration: none;
    font-size: 24px;
}

.templates-box{
    margin: auto;
    max-width: fit-content;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*
.grid-wrapper > * {
    border-width: 1;
    border-style: solid;
}
*/

.grid-wrapper > a {
    text-decoration: none;
    padding: 100px;
    margin: 10px 5px;
    border-radius: 10%;
    background-color: white;
    border-width: 1%;
    border-style: solid;
    border-color: white;
}

.grid-wrapper > a:hover {
    border-color: blueviolet;
}